In [1]:
pwd

'C:\\Users\\rajesh'

In [4]:
print("hello world")
print("welcome")

print("good bye")

hello world
welcome
good bye

In [7]:
num1=45
num2=55
num3=num1+num2
print(num3)

100

In [9]:
num1=45
num2=55
add=num1+num2
print('add')

add

In [10]:
num1=45
num2=55
add=num1+num2
print(add)

100

In [139]:
num1=45.09
num2=55
sum=num1+num2
print(sum)

100.09

In [138]:
type(sum)

int

In [18]:
type(sum)

float

In [142]:
name='123@RRRRR'
type(name)

str

In [143]:
print(name)

123@RRRRR

In [144]:
num1,num2,num3=40,60,'hello'

In [145]:
print(num1)

40

In [146]:
print(num3)

hello

In [147]:
num1=num2=num3=67

In [149]:
print(num1)

67

In [36]:
name="kirti"
marks=56
print("my name is:" ,name ,"and my marks are",marks)

my name is: kirti and my marks are 56

In [154]:
Name="sunitha"
marks=99
print("my name is",Name, "and my marks are",marks)

my name is sunitha and my marks are 99

In [47]:
Name=" Sajeed"
Marks=77.9999999
print ("my name is",Name,"my marks are",Marks)

my name is  Sajeed my marks are 77.9999999

In [155]:
print ('my name is %s and my marks :%i' %(Name,marks))

my name is sunitha and my marks :99

In [52]:
print ('my name is %s and my marks :%f' %(Name,Marks))

my name is  Sajeed and my marks :78.000000

In [53]:
print ('my name is %s and my marks :%0.1f' %(Name,Marks))

my name is  Sajeed and my marks :78.0

In [56]:
#this is my first program
num1=45 #Number1
num2=55  #number2
add=num1+num2 #perform addition
print("addition is" ,add)

addition is 100

In [57]:
#this is my first program
num1=45 ;num2=55;add=num1+num2;print("addition is" ,add)

addition is 100

#### Operators

In [59]:
num1=67
num2=19

In [72]:
#Arithmetic operator
add=num1+num2
print("addition is",add)
print("addition is",num1+num2)
print("sub is",num1-num2)
print("multiplication is",num1*num2)
print()
print("division is",num1/num2)
print("floor division  is",num1//num2)
print("module division is",num1%num2)
print('raised to',num1**num2)

addition is 86
addition is 86
sub is 48
multiplication is 1273

division is 3.526315789473684
floor division  is 3
module division is 10
raised to 49593099428404263766544428188098203

In [73]:
#Assignment operator
num1=67
num1+=2
print(num1)

69

In [74]:
num1=67
num1-=2
print(num1)

65

In [75]:
num1=67
num1*=2
print(num1)

134

In [76]:
num1=67
num1/=2
print(num1)

33.5

In [78]:
num1=12
num1*=2
print(num1)

24

In [79]:
num1=67
num1//=2
print(num1)

33

In [89]:
num1=671
num1%=3
print(num1)

2

In [97]:
num1=671
num1/=3
print(num1)

223.66666666666666

In [96]:
##Relation operator
num1=67
num2=19
print("greater than",num1>num2)
print("greater than/equal to ",num1>=num2)
print("lesser than",num1<num2)
print("lesser than/equal to",num1<=num2)
print("equal to",num1==num2)
print("not equal to",num1!=num2)

greater than True
greater than/equal to  True
lesser than False
lesser than/equal to False
equal to False
not equal to True

In [101]:
#Logical operators
num1=67
num2=19
print(("AND",num1>num2) and (num1<100))

True

In [103]:
#Logical operators
num1=67
num2=19
print(("OR",num1>num2) and (num1<100))

True

In [102]:
#Logical operators
num1=67
num2=19
print(("AND",num1>num2) and (num1<10))

False

In [114]:
#Membership selection operator
name="Kirti,Sajjid"
'S' in name

True

In [109]:
x=[5,4,3,2,9]
9 in x

True

In [115]:
19 not in x

True

In [117]:
x=[5,4,3,2,9,"Pune"]
'Pune' in x

True

#### User input

In [122]:

num=input("Enter the number")
result=num*3
print("you have entered",result)

Enter the number 100

you have entered 100100100

In [126]:
##Type casting
num=int(input("Enter the number"))
result=num*3
print("you have entered",result)

Enter the number 100

you have entered 300

In [124]:
##Type casting
num=float(input("Enter the number"))
result=num*3
print("you have entered",result)

Enter the number 100.9

you have entered 302.70000000000005

In [127]:
##Type casting
num1=float(input("Enter the number"))
num2=float(input("Enter the number"))
num3=num1+num2

print("you have entered",num3)

Enter the number 100
Enter the number 200

you have entered 300.0

In [135]:
##Convert Centigrate to Fahrenheit
c=int(input("Enter the number"))
f=(c*1.8+32)
print("you have entered",f)

Enter the number 38

you have entered 100.4