In [1]:
# Dataset: product-info.csv containing columns like Product ID, Product Name, Price, Quantity Sold, and Sales Date.
# Problem: Write a Python program to calculate the total sales, average sales price, and the standard deviation of sales prices. 
#Additionally, identify the product with the highest and lowest average sales price.

In [72]:
import pandas as pd
import numpy as np

In [3]:
product=pd.read_csv('product-info.csv')
product

   Product ID    Product Name  Price  Quantity Sold  Sales Date
0         101      Blue Jeans  59.99             20  2023-12-15
1         102       Red Shirt  24.99             35  2023-12-20
2         103     Black Shoes  79.99             15  2023-12-25
3         104    Green Jacket  99.99             10  2023-12-30
4         105  White Sneakers  64.99             25  2024-01-05
5         106      Gray Pants  49.99             40  2024-01-10
6         107    Yellow Dress  39.99             30  2024-01-15
7         108      Brown Belt  19.99             50  2024-01-20
8         109      Purple Hat  14.99             60  2024-01-25
9         110    Orange Socks   9.99             75  2024-01-30

In [4]:
sales=product['Price']*product['Quantity Sold']

In [5]:
sales

0    1199.80
1     874.65
2    1199.85
3     999.90
4    1624.75
5    1999.60
6    1199.70
7     999.50
8     899.40
9     749.25
dtype: float64

In [6]:
total_sales=sum(sales)

In [7]:
total_sales

11746.4

In [10]:
average_sales_price=product['Price'].mean()
average_sales_price

46.489999999999995

In [11]:
std=product['Price'].std()

In [12]:
std

29.91190769948019

In [13]:
product['Price'].describe()

count    10.000000
mean     46.490000
std      29.911908
min       9.990000
25%      21.240000
50%      44.990000
75%      63.740000
max      99.990000
Name: Price, dtype: float64

In [14]:
# Dataset: A CSV file customer-satisfaction.csv with columns such as Customer ID, Satisfaction Rating (scale of 1-10), Age, and Gender.
# Problem: Create a Python program to calculate the mean, median, and mode of the satisfaction ratings. Analyze the data by grouping it by age groups and gender to identify any trends.

In [74]:
cust=pd.read_csv('customer-satisfaction.csv')
cust

    Customer ID  Satisfaction Rating  Age  Gender
0             1                    8   32       0
1             2                    7   45       1
2             3                    9   28       0
3             4                    6   51       1
4             5                   10   37       0
5             6                    5   22       1
6             7                    4   60       0
7             8                    3   42       1
8             9                    2   35       0
9            10                    1   58       1
10           11                    8   27       0
11           12                    7   40       1
12           13                    9   33       0
13           14                    6   55       1
14           15                   10   39       0
15           16                    5   24       1
16           17                    4   62       0
17           18                    3   44       1
18           19                    2   36       0
19           20                    1   59       1

In [76]:
cust['Satisfaction Rating'].mean(),cust['Satisfaction Rating'].median(), cust['Satisfaction Rating'].mode()[0]

(5.5, 5.5, 1)

In [81]:
#Analyze the data by grouping it by age groups and gender to identify any trends.

In [100]:
grouped = cust.groupby(['Age', 'Gender'])['Satisfaction Rating'].mean()
print(grouped)

Age  Gender
22   1          5.0
24   1          5.0
27   0          8.0
28   0          9.0
32   0          8.0
33   0          9.0
35   0          2.0
36   0          2.0
37   0         10.0
39   0         10.0
40   1          7.0
42   1          3.0
44   1          3.0
45   1          7.0
51   1          6.0
55   1          6.0
58   1          1.0
59   1          1.0
60   0          4.0
62   0          4.0
Name: Satisfaction Rating, dtype: float64

In [ ]:
# Dataset: A CSV file house-info.csv containing columns such as House ID, Location, Number of Bedrooms, Square Footage, and Price.
# Problem: Develop a Python program to calculate the first, second (median), and third quartiles of house prices. 
# Also, compute the interquartile range (IQR) and identify any outliers in the dataset.

In [17]:
house=pd.read_csv('house-info.csv')
house

    House ID  Location  Number of Bedrooms  Square Footage     Price
0          1  Suburban                   3            1800  $350,000
1          2     Urban                   2            1200  $280,000
2          3     Rural                   4            2500  $400,000
3          4  Suburban                   3            1600  $320,000
4          5     Urban                   1             800  $200,000
5          6     Rural                   5            3000  $450,000
6          7  Suburban                   2            1400  $290,000
7          8     Urban                   3            1600  $310,000
8          9     Rural                   4            2800  $420,000
9         10  Suburban                   3            1700  $330,000
10        11     Urban                   2            1100  $270,000
11        12     Rural                   5            3200  $470,000
12        13  Suburban                   3            1500  $900,000
13        14     Urban                   1             900  $210,000
14        15     Rural                   4            9600  $410,000
15        16  Suburban                   3            1800  $340,000
16        17     Urban                   2            1200  $280,000
17        18     Rural                   5            2500  $400,000
18        19  Suburban                   3            1600  $320,000
19        20     Urban                   1             800  $200,000
20        21     Rural                   4            3000  $950,000
21        22  Suburban                   2            1400  $290,000
22        23     Urban                   3            1600  $310,000
23        24     Rural                   4            2800  $420,000
24        25  Suburban                   3            1700  $330,000

In [18]:
house['Price'].describe()

count           25
unique          17
top       $420,000
freq             2
Name: Price, dtype: object

In [19]:
house['Price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 25 entries, 0 to 24
Series name: Price
Non-Null Count  Dtype
--------------  -----
25 non-null     object
dtypes: object(1)
memory usage: 332.0+ bytes

In [36]:
price_new=house['Price'].replace({'\$':'',',':''},regex=True).astype(float)
price_new

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
/tmp/ipykernel_16639/292239049.py:1: SyntaxWarning: invalid escape sequence '\$'
  price_new=house['Price'].replace({'\$':'',',':''},regex=True).astype(float)

0     350000.0
1     280000.0
2     400000.0
3     320000.0
4     200000.0
5     450000.0
6     290000.0
7     310000.0
8     420000.0
9     330000.0
10    270000.0
11    470000.0
12    900000.0
13    210000.0
14    410000.0
15    340000.0
16    280000.0
17    400000.0
18    320000.0
19    200000.0
20    950000.0
21    290000.0
22    310000.0
23    420000.0
24    330000.0
Name: Price, dtype: float64

In [37]:
price_new.quantile([0.25,0.50,0.75])

0.25    290000.0
0.50    330000.0
0.75    410000.0
Name: Price, dtype: float64

In [32]:
import numpy as np

In [38]:
np.percentile(price_new,25),np.percentile(price_new,50),np.percentile(price_new,75)

(290000.0, 330000.0, 410000.0)

In [40]:
Q1=np.percentile(price_new,25)
Q3=np.percentile(price_new,75)
IQR=Q3-Q1
IQR

120000.0

In [41]:
upper_fence=Q3+1.5*IQR
lower_fence=Q1-1.5*IQR
upper_fence,lower_fence

(590000.0, 110000.0)

In [42]:
price_new[price_new>upper_fence]

12    900000.0
20    950000.0
Name: Price, dtype: float64

In [43]:
price_new[price_new<lower_fence]

Series([], Name: Price, dtype: float64)

In [ ]:
# Dataset: A CSV file visitor-info.csv with columns such as Date, Number of Visitors, Average Session Duration, Bounce Rate and Conversion Rate.
# Problem: Create a Python program to analyze the average, minimum, and maximum number of visitors per day. Investigate the relationship 
# between bounce rate and conversion rate using correlation analysis.

In [44]:
visitor=pd.read_csv('visitor-info.csv')
visitor

,Date,Number of Visitors,Average Session Duration (seconds),Bounce Rate (%),Conversion Rate (%)
0,2023-12-01,5000,120,25,2.0
1,2023-12-02,4500,130,22,3.0
2,2023-12-03,5500,115,28,1.5
3,2023-12-04,6000,125,20,2.5
4,2023-12-05,4800,135,23,2.0
5,2023-12-06,5200,120,25,2.2
6,2023-12-07,4700,130,22,2.8
7,2023-12-08,5600,115,28,1.7
8,2023-12-09,6200,125,20,2.7
9,2023-12-10,4900,135,23,2.1
10,2023-12-11,5100,120,25,2.3
11,2023-12-12,4600,130,22,2.9
12,2023-12-13,5400,115,28,1.8
13,2023-12-14,6100,125,20,2.6
14,2023-12-15,5000,135,23,2.2
15,2023-12-16,4500,120,25,2.4
16,2023-12-17,5500,130,22,2.7
17,2023-12-18,6000,115,28,1.6
18,2023-12-19,4800,125,20,2.5
19,2023-12-20,5200,135,23,2.1
20,2023-12-21,4700,120,25,2.3
21,2023-12-22,5600,130,22,2.9
22,2023-12-23,6200,115,28,1.8
23,2023-12-24,4900,125,20,2.6
24,2023-12-25,5100,135,23,2.2
25,2023-12-26,4600,120,25,2.4
26,2023-12-27,5400,130,22,2.7
27,2023-12-28,6100,115,28,1.6
28,2023-12-29,5000,125,20,2.5

In [45]:
visitor['Number of Visitors'].mean()

5248.275862068966

In [46]:
visitor['Number of Visitors'].describe()

count      29.000000
mean     5248.275862
std       542.889550
min      4500.000000
25%      4800.000000
50%      5100.000000
75%      5600.000000
max      6200.000000
Name: Number of Visitors, dtype: float64

In [47]:
visitor['Number of Visitors'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 29 entries, 0 to 28
Series name: Number of Visitors
Non-Null Count  Dtype
--------------  -----
29 non-null     int64
dtypes: int64(1)
memory usage: 364.0 bytes

In [48]:
type(visitor)

pandas.core.frame.DataFrame

In [50]:
visitor['Bounce Rate (%)'].corr(visitor['Conversion Rate (%)'])

-0.8166050475362996

In [51]:
#Dataset: A dataset with columns (purchase-info.csv) such as Customer ID, Purchase Amount, Purchase Date, and Category.
#Problem: Develop a Python program to calculate the average purchase amount for each category. 
#Also, find the most frequent purchase category and the customer who made the most purchases.

In [52]:
purchase=pd.read_csv('purchase-info.csv')
purchase

    Customer ID  Purchase Amount Purchase Date     Category
0          1001               50    2023-12-01  Electronics
1          1002               25    2023-12-02     Clothing
2          1003               75    2023-12-03   Home Goods
3          1004               40    2023-12-04  Electronics
4          1005               30    2023-12-05     Clothing
5          1006               60    2023-12-06   Home Goods
6          1007               20    2023-12-07  Electronics
7          1008               55    2023-12-08     Clothing
8          1009               80    2023-12-09   Home Goods
9          1010               35    2023-12-10  Electronics
10         1011               28    2023-12-11     Clothing
11         1012               65    2023-12-12   Home Goods
12         1013               18    2023-12-13  Electronics
13         1014               52    2023-12-14     Clothing
14         1015               78    2023-12-15   Home Goods
15         1016               32    2023-12-16  Electronics
16         1017               26    2023-12-17     Clothing
17         1018               63    2023-12-18   Home Goods
18         1019               16    2023-12-19  Electronics
19         1020               54    2023-12-20     Clothing
20         1021               76    2023-12-21   Home Goods
21         1022               34    2023-12-22  Electronics
22         1023               27    2023-12-23     Clothing
23         1024               62    2023-12-24   Home Goods
24         1025               17    2023-12-25  Electronics
25         1026               53    2023-12-26     Clothing
26         1027               75    2023-12-27   Home Goods
27         1028               35    2023-12-28  Electronics
28         1029               28    2023-12-29     Clothing
29         1030               65    2023-12-30   Home Goods

In [53]:
purchase.describe()

       Customer ID  Purchase Amount
count    30.000000        30.000000
mean   1015.500000        45.800000
std       8.803408        20.673822
min    1001.000000        16.000000
25%    1008.250000        28.000000
50%    1015.500000        45.000000
75%    1022.750000        62.750000
max    1030.000000        80.000000

In [63]:
purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer ID      30 non-null     int64
 1   Purchase Amount  30 non-null     int64
 2   Purchase Date    30 non-null     object
 3   Category         30 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.1+ KB

In [62]:
purchase.groupby('Category')['Purchase Amount'].mean()

Category
Clothing       37.8
Electronics    29.7
Home Goods     69.9
Name: Purchase Amount, dtype: float64

In [64]:
purchase['Customer ID'].unique()

array([1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011,
       1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022,
       1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030])

In [65]:
purchase['Customer ID'].value_counts()

Customer ID
1001    1
1002    1
1029    1
1028    1
1027    1
1026    1
1025    1
1024    1
1023    1
1022    1
1021    1
1020    1
1019    1
1018    1
1017    1
1016    1
1015    1
1014    1
1013    1
1012    1
1011    1
1010    1
1009    1
1008    1
1007    1
1006    1
1005    1
1004    1
1003    1
1030    1
Name: count, dtype: int64

In [69]:
purchase['Category'].mode()

0       Clothing
1    Electronics
2     Home Goods
Name: Category, dtype: object

In [70]:
purchase['Customer ID'].value_counts().idxmax()

1001